{% extends '@site_theme/site.html.twig' %}


{% block containerStart %}{% endblock %}
{% block header %}{% endblock %}
{% block containerEnd %}{% endblock %}
{% block body %}
    <div class="home-menu">
        {{ knp_menu_render('MapsMainBundle:MenuBuilder:homeMenu', {'currentClass': 'active'}) }}
    </div>
    <div class="home-center">
        <div class="home-name">Единомышленники</div>
        <div class="home-name-bottom">Введите тему поиска единомышленников!</div>
        <form class="search-main" method="get" action="/search/">
            <input type="hidden" name="searchid" value="2168997">
            <input required="required" name="text" disabled="disabled" class="typeahead" type="text" placeholder="">
            <button class="btn-submit" type="submit">&nbsp;&nbsp;Поиск&nbsp;&nbsp;</button>
        </form>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="home-footer">
        Единомышленники 2014 (с)
    </div>
{% endblock %}
