{% extends '@site_theme/site.html.twig' %}

{% block body %}
    <form class="search-main" method="get" action="/search/">
        <input type="hidden" name="searchid" value="2168997">
        <input name="text" disabled="disabled" class="typeahead" type="text" placeholder="Найдите интересную вам группу">
        <button class="btn btn-success btn-lg" type="submit">&nbsp;&nbsp;Поиск&nbsp;&nbsp;</button>
    </form>
{% endblock %}