{% extends '@site_theme/site.html.twig' %}


{% block containerStart %}{% endblock %}
{% block header %}{% endblock %}
{% block containerEnd %}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 left">
                <div class="home-menu">
                    {{ knp_menu_render('MapsMainBundle:MenuBuilder:homeMenu', {'currentClass': 'active'}) }}
                </div>
            </div>
            <div class="col-xs-4 right">
                <div class="home-menu rightMenu">
                    {{ knp_menu_render('MapsMainBundle:MenuBuilder:homeMenuRight', {'currentClass': 'active'}) }}
                </div>
            </div>
    </div>
    <div class="home-center">
        <div class="home-name">Единомышленники</div>
        <div class="home-name-bottom">Введите тему поиска единомышленников!</div>
        <form class="search-main" method="get" action="/search/">
            <input type="hidden" name="searchid" value="2168997">
            <input required="required" name="text" disabled="disabled" class="typeahead" type="text" placeholder="">
            <button class="btn-submit" type="submit">&nbsp;&nbsp;Поиск&nbsp;&nbsp;</button>
        </form>

        <br/>
        <br/>

        <div class="counter">

        <!--LiveInternet counter-->
        <script type="text/javascript"><!--
            document.write("<a href='//www.liveinternet.ru/click' " +
            "target=_blank><img src='//counter.yadro.ru/hit?t29.1;r" +
            escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
            ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                    screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
            ";" + Math.random() +
            "' alt='' title='LiveInternet: показано количество просмотров и" +
            " посетителей' " +
            "border='0' width='88' height='120'><\/a>");
            //--></script>
        <!--/LiveInternet-->
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="home-footer">
        <div class="row">
            <div class="col-xs-6 left">
                версия 3.1.2014
            </div>
            <div class="col-xs-6 right">
                Единомышленники 2014 (с)
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block LiveInternet %}
{% endblock %}