{% extends '@admin_theme/admin.html.twig' %}
{# entity \Maps\GroupsBundle\Entity\GroupsComments #}
{% set pageName = "Создать заявку" ~ entity.id %}
{% block title %}{{ pageName }}{% endblock title %}

{% block body -%}
    <div class="row content-header">
        <div class="col-xs-4 title">
            <h3>{{ pageName }}</h3>
        </div>
    </div>

    {{ form(form) }}

{% endblock %}
