{% extends '@admin_theme/admin.html.twig' %}

{% block body -%}
    <h1>GroupsComments creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('groupscomments') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
