{% extends '@admin_theme/admin.html.twig' %}
{# entity \Maps\GroupsBundle\Entity\Groups\Groups #}
{% set pageName = "История поиска" %}
{% block title %}{{ pageName }}{% endblock title %}
{% block body -%}
    <div class="row content-header">
        <div class="col-xs-4 title">
            <h3>{{ pageName }} {{ test }}</h3>
        </div>
        <div class="col-xs-8 action">
        </div>
    </div>


{% endblock %}