{% extends '@admin_theme/admin.html.twig' %}
{% set pageName = "Создать страницу" %}
{% block title %}{{ pageName }}{% endblock title %}
{% block body -%}

    <div class="row content-header">
        <div class="col-xs-4 title">
            <h3>{{ pageName }}</h3>
        </div>
        <div class="col-xs-8 action"></div>
    </div>

    {{ form(form) }}

{% endblock %}
