.note-editor .btn-default {
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}
.note-editor .btn-default:hover, .note-editor .btn-default:focus, .note-editor .btn-default:active, .note-editor .btn-default.active {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.note-editor .open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.note-editor .btn-default:active, .note-editor .btn-default.active {
  background-image: none;
}
.note-editor .open > .dropdown-toggle.btn-default {
  background-image: none;
}
.note-editor .btn-default.disabled, .note-editor .btn-default[disabled] {
  background-color: white;
  border-color: #cccccc;
}
.note-editor fieldset[disabled] .btn-default {
  background-color: white;
  border-color: #cccccc;
}
.note-editor .btn-default.disabled:hover, .note-editor .btn-default[disabled]:hover {
  background-color: white;
  border-color: #cccccc;
}
.note-editor fieldset[disabled] .btn-default:hover {
  background-color: white;
  border-color: #cccccc;
}
.note-editor .btn-default.disabled:focus, .note-editor .btn-default[disabled]:focus {
  background-color: white;
  border-color: #cccccc;
}
.note-editor fieldset[disabled] .btn-default:focus {
  background-color: white;
  border-color: #cccccc;
}
.note-editor .btn-default.disabled:active, .note-editor .btn-default[disabled]:active {
  background-color: white;
  border-color: #cccccc;
}
.note-editor fieldset[disabled] .btn-default:active {
  background-color: white;
  border-color: #cccccc;
}
.note-editor .btn-default.disabled.active, .note-editor .btn-default[disabled].active {
  background-color: white;
  border-color: #cccccc;
}
.note-editor fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: #cccccc;
}
.note-editor .btn-default .badge {
  color: white;
  background-color: #333333;
}

.body {
  padding: 15px;
}

.content-header {
  padding-bottom: 30px;
}
.content-header .title h3 {
  margin-top: 7px;
}
.content-header .action {
  text-align: right;
  padding-top: 5px;
}

.inline-block {
  display: inline-block;
}
