{% extends '@site_theme/site.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-xs-6">
            {{ form(form) }}
        </div>
        <div class="col-xs-6">
            <img src="http://ednml.ru/forum_img/ed.png" alt=""/>
            <br/>
            <ul class="add-group-menu">
                <li><a href="http://ednml.ru/pravila/"><h4>Правила создания групп</h4></a></li>
                <li><a target="_blank" href="http://forum.ednml.ru/"><h4>Наш Форум Единомышленников</h4></a></li>
                <li><a target="_blank" href="http://forum.ednml.ru/chat/"><h4>Чат общения Единомышленников</h4></a></li>
                <li><a target="_blank" href="http://ednml.ucoz.ru/"><h4>Блог разработчиков</h4></a></li>
            </ul>
        </div>
    </div>
{% endblock %}
