{% extends '@site_theme/site.html.twig' %}
{# groups \Proxies\__CG__\Maps\GroupsBundle\Entity\Groups\Groups #}
{# group \Proxies\__CG__\Maps\GroupsBundle\Entity\Groups\Groups #}
{% block body %}
    {% set notice = app.session.flashbag.get('notice') %}
    {% if notice is not empty %}
        {% for flashMessage in notice %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <br/>
    {% endif %}

    <h4>Список всех групп:</h4>
    <br/>
    <div class="groups clearfix">
        {% for group in groups %}
            <div class="item">
                <a href="{{ path("site_groups_show", {id: group.id}) }}">{{ group.name }}</a>
            </div>
        {% endfor %}
    </div>
    <br/>
    <img src="http://ednml.ru/forum_img/ed.png" alt="">
{% endblock %}